<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-navigation.css}" href="../../static/css/bootstrap-navigation.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}" href="../../static/css/bootstrap/bootstrap.css"/>
</head>
<body id="body-pd">

<div th:replace="layout :: header"></div>
<div th:replace="layout :: drawer"></div>

<div class="height-100 container-content row" style="margin-top:80px">
    <div class="col-12">
        <div role="alert" class="alert alert-dark"> Dashboard component </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script th:src="@{/js/fontawesome-all.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
<script th:src="@{/js/bootstrap-navigation.js}"></script>
</body>
</html>
